# Secretos y entorno
.env
*.env
!.env.example

# Bases de datos locales
*.db
*.sqlite
*.sqlite3

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Node / build
node_modules/
dist/
build/

# Sistema / editores
.DS_Store
*.log
.idea/
.vscode/

# Certificados
nginx/certs/
*.pem
*.key
!fiel.key
